@page
@model BD1.Pages.Doljnostis.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Doljnosti[0].Naimenovanie_doljnosti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doljnosti[0].Oklad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doljnosti[0].Trebovaniya)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doljnosti[0].Obyazanosti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Doljnosti) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naimenovanie_doljnosti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oklad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trebovaniya)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Obyazanosti)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
