@page
@model BD1.Pages.Sotrudnikis.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sotrudniki[0].FIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sotrudniki[0].Vozrast)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sotrudniki[0].Pol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sotrudniki[0].Adres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sotrudniki[0].Telefon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sotrudniki[0].Pasportnie_dannie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sotrudniki) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FIO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vozrast)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pasportnie_dannie)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
