@page
@model BD1.Pages.Dop_yslygis.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Dop_yslygi</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dop_yslygi.Naimenovanie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dop_yslygi.Naimenovanie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dop_yslygi.Opisanie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dop_yslygi.Opisanie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dop_yslygi.Cena)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dop_yslygi.Cena)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dop_yslygi.Kod_prokata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dop_yslygi.Kod_prokata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dop_yslygi.Kod_yslygi_3Kod_prokata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dop_yslygi.Kod_yslygi_3Kod_prokata)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Dop_yslygi.Kod_yslygi_2Kod_prokata)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Dop_yslygi.Kod_yslygi_2Kod_prokata)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Dop_yslygi.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
