@page
@model BD1.Pages.Dop_yslygis.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dop_yslygi[0].Naimenovanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dop_yslygi[0].Opisanie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dop_yslygi[0].Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dop_yslygi[0].Kod_prokata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dop_yslygi[0].Kod_yslygi_3Kod_prokata)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dop_yslygi[0].Kod_yslygi_2Kod_prokata)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dop_yslygi) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naimenovanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opisanie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kod_prokata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kod_yslygi_3Kod_prokata)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kod_yslygi_2Kod_prokata)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
